* {
    box-sizing: border-box;
    background-color: #eef0bf;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #06060c;
}

h1 {
    font-size: 3rem;
    color: #06060c;
}

input,
button {
    display: block;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: 0;
    outline-color: #481e7d;
}

.container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
}

.form__row {
    margin-top: 0.5rem;
    display: flex;
}

.form__input {
    padding: 0.5rem;
    border-radius: 2px;
    border: 1px solid #06060c;
}

.form__button {
    margin-left: 0.5rem;
    border-radius: 2px;
    padding: 0.5rem;
    color: #eef0bf;
    background-color: #06060c;
    border-top: none;
    transition: background-color 0.2s;
}

.form__label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #06060c;
}

.form__button:hover {
    background-color: #481e7d;
}

.result {
    width: 100%;
    min-height: 5rem;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    border-radius: 2px;
    border: 1px solid #06060c;
}